/* Variaveis padronizadas */

:root {
    --color-details: #5280E2;
    --color-background: #212226;
    --color-fonts: #15CDCB;

    --font-title: 44px;
    --font-subtitle: 24px;
    --font-paragraph: 18px;
}

/* Fonts do Projeto */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* Configurações Geral */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--color-background);
    color: #ffffff;
}

html, button, input, select, textarea {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: var(--font-title);
    font-weight: 400;
}

h2 {
    font-size: var(--font-subtitle);
    font-weight: 400;
}

p {
    font-size: var(--font-paragraph);
    font-weight: 400;
}

button {
    background: var(--color-details);

    width: 235px;
    height: 50px;
    padding: 8px 35px;

    border-radius: 16px;
    border: none;


    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #ffffff;

}

/* Desenvolvimento Web */


header {
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img {
    display: none;
}

header .container h1 {
    color: var(--color-fonts);
}

header .container button {
    margin-top: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: var(--color-background);
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 99;

}

nav img {
    height: 45px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

nav ul a{

    color: var(--color-fonts);
    font-size: var(--font-paragraph);
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: underline 2px solid var(--color-fonts);
}

nav ul svg {
    display: none;
}

.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;
}

.about-me .container h1 {
    font-size: var(--font-title);
    color: var(--color-fonts);
    margin-bottom: 20px;
}

.about-me .image-container {
    width: 50%;
    text-align:center;
    position: relative;
    
}

.about-me .image-container img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.about-me .image-container .line.purple{
    width: calc(70% + 50px);
    height: calc(100% + 50px);
    border: 1px solid var(--color-details);
    position: absolute;
    top: -25px;
    left: calc(50% - 70%/2 - 25px);
}


.about-me .image-container .line.green {
    transform: rotate(-3.297deg);
    border: 1px solid var(--color-fonts);
    width: calc(70% + 50px);
    height: calc(100% + 50px);
    position: absolute;
    top: -25px;
    left: calc(50% - 70%/2 - 25px);

}


/* Desenvolvimento Responsivo */

/* Desktop */
@media screen and (max-width: 1024px) {

    header .container {
        width: 100%;
    }

    nav {
        padding: 0 30px;
        }

    nav ul a {
        font-size: 16px;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me .container, .about-me .image-container {
        width: 100%;
    }

    .about-me .container {
        padding-right: 0;
    }

    .about-me .image-container {
        margin: 70px 0;
    }
    
}


/* Tablet */
@media screen and (max-width: 768px) {

    header .container  {
        width: 100%;
    }

    header .container img {
        display: inline;
        margin-bottom: 60px;
    }

    nav {
        padding: 0 30px;
    }

    nav img {
        display: none;
    }

    nav ul {
        padding: 0;
    }

    nav ul a {
        font-size: 16px;
    }
    
}


/* Mobile */
@media screen and (max-width: 480px) {

     header .container  {
        padding: 0 40px
    }

    nav {
        padding: 0 15px;
        position: fixed;
        bottom: 0;
        top: unset;
        width: 100%;
    }

    nav ul a {
        font-size: 12px;
    }

    nav ul svg {
        display: block;
        margin: 0 auto 10px;
    }

    .about-me {
        padding: 40px

    }
    
}